
h2 {
  color: black;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}
.container{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.list-container{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.header{
  background-color:#E4E4E4;
  font-family:arial,sans-serif;
  font-size:14px;
  color:#333;
  padding: 10px;
  text-align: center;
}
.form {
  padding: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.strikethrough:checked + span{
  text-decoration:line-through
}

.name{
  display:inline-block;
  padding: 10px;
}

label{
  background-color: #E4E4E4;
  padding: 10px;
}
